<%= form_with url: bars_path, method: :get do |f| %>
  <div class="input-group">
    <%= f.text_field :query, class: "form-control", placeholder: "Search by city, address, name" %>
    <div class="input-group-append">
      <%= f.submit "ðŸ”", class: "btn-search" %>
    </div>
  </div>
<% end %>
