<%= render 'shared/navbarowner' %>
<div class="container">
<h1>Mes bars</h1>
<%= render "barlist", bars: @mybars %>

<%= link_to 'Add new bar', new_bar_path, class:'btn btn-primary' %>

</div>

<%= render "myevents", mybars: @mybars %>
