<%= render 'shared/navbar' %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1514320291840-2e0a9bf2a9ae?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);">
  <div class="container text-center">
    <h1>Un concert <strong>en 2 clics</strong> dans <strong>un bar</strong> let's go!</h1>
    <p >Vous êtes musiciens ou propriétaire de bar ? Avec Gig Link organiser un événement rapidement</p>
    <br>
  </div>
</div>


<div class="container">
  <h2 class="mt-3 homeh2"> Les prochains événement Gig Link</h2>
  <div class="row">






  </div>
</div>
<%= render 'shared/footer' %>
