<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1514320291840-2e0a9bf2a9ae?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);">
  <div class="container">
    <h1>Let's put <strong>young artists</strong> into <strong>bars</strong> and enjoy the ambiance!</h1>
    <%# <p>Change your life and learn to code at one of our campuses around the world.</p> %>
    <br>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="cards col-sm-6">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/cognitives-s3/image/upload/c_fill,dpr_auto,f_auto,fl_lossy,g_auto,h_515,q_auto/v1/cog-aap/n/559/2022/May/16/FozdDtRrUKLohGybl5qP.jpg)">
        <%= link_to "I'm an artist", bars_path %>
      </div>
    </div>
    <div class="cards col-sm-6">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.westsiderag.com/wp-content/uploads/2020/01/BizJones_RichardHerschenfeld_205.jpeg)">
        <%= link_to "I'm a bar owner", mybars_path %>
      </div>
    </div>
  </div>
</div>
