<div class="container">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1514320291840-2e0a9bf2a9ae?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);">
    <div class="text-center text-white">
      <h1>Page d'accueil</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <%= link_to "My Artist Profil", bars_path, class: "btn btn-primary btn-block" %>
    </div>
    <div class="col-sm-6">
      <%= link_to "My Bar Owner Profil", mybars_path, class: "btn btn-secondary btn-block" %>
    </div>
  </div>
</div>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1514320291840-2e0a9bf2a9ae?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);">
  <div class="container">
    <h1>Let's put<strong>young artists</strong> into <strong>bars</strong> and enjoy the ambiance!</h1>
    <%# <p>Change your life and learn to code at one of our campuses around the world.</p> %>
    <a class="btn btn-flat" href="#">I'm an artist</a>
    <a class="btn btn-flat" href="#">I'm a bar owner</a>
  </div>
</div>
