.btn-pending {
  width: 100px;
  padding: 5px;
  border-radius: 30px;
  background-color: #ff910088;
  border-color: transparent;
  margin-bottom: 15px;
  cursor: text;
}

.btn-accepted {
  width: 100px;
  padding: 5px;
  border-radius: 30px;
  background-color: #9dff0088;
  border-color: transparent;
  margin-bottom: 15px;
  cursor: text;
}

.btn-passed {
  width: 100px;
  padding: 5px;
  border-radius: 30px;
  background-color: #ffff0088;
  border-color: transparent;
  margin-bottom: 15px;
  cursor: text;
}

.btn-declined {
  width: 100px;
  padding: 5px;
  border-radius: 30px;
  background-color: #ff000088;
  border-color: transparent;
  margin-bottom: 15px;
  cursor: text;
}


.card-event {
  margin-bottom: 10px;
  overflow: hidden;
  height: auto;
  background: #191825;
  color: white;
  display: flex;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
  text-overflow: ellipsis;
  width: 600px;
  a{
    color: white
  }
  a:hover{
    color: #E67E22
  }
}

.card-event:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
}

.card-event img {
  height: 250px;
  width: 250px;
  object-fit: cover;
}

.card-event h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.card-event p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-event .card-event-infos {
  padding: 16px;
  flex-grow: 1;
}

.events-btn {
  width: 140px;
  margin-top: 3px;
  margin-bottom: 3px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.events-btn .btn {
  width: 100px;
  margin: 10px;
}
