.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #670BFF;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #4D04C4;
  color: white;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  transition: 0.5s;
}

.cards:hover {
  transform:scale(1.1);
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
